<app-subheader-wrapper>
  <ng-container actions>
  </ng-container>
</app-subheader-wrapper>
<div class="global-loader">
  <cbs-loader></cbs-loader>
</div>

<!--Search form-->
<div class="main_table">
  <p class="search-title" (click)="onSearchBtn()"><i class="fa fa-angle-up"></i> Search</p>
  <hr>
  <fieldset class="border p-5 shadow" *ngIf="searchBtn">
    <form #searchForm="ngForm" (ngSubmit)="onSearch(searchForm)" ngForm="searchForm">
      <div class="row">
        <div class="col-md-3">
          <div class="input-group mb-3">
            <span class="input-group-text span">Sequence number</span>
            <input type="text" name="secNumber" ngModel class="form-control search-input">
          </div>
        </div>
        <div class="col-md-2">
          <div class="input-group mb-3">
            <span class="input-group-text span">Merchant id</span>
            <input type="text" name="merchantId" ngModel class="form-control search-input">
          </div>
        </div>
        <div class="col-md-2">
          <div class="input-group mb-3">
            <span class="input-group-text span">Contract type</span>
            <select required name="merchantId" ngModel type="text" class="form-control search-input">
              <option *ngFor="let m of contractTpye" value="{{m.contract}}">{{m.contract}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="input-group mb-3">
            <span class="input-group-text span">Contract status</span>
            <select required name="contractStatus" ngModel type="text" class="form-control search-input">
              <option *ngFor="let s of contractStatus" value="{{s.status}}">{{s.status}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-2">
          <button type="submit" class=" btn bg-btn search-input p-2"><i class="pi text-white pi-search"></i>Search</button>
        </div>
      </div>
    </form>
  </fieldset>
</div>

<div class="card main_table">
  <div class="m-3 search-title" *ngIf="showAddButton">
    <p-button class="card-btn" [style]="{backgroundColor:'#6D90A3'}" (click)="showBasicDialog2()"
              icon="pi pi-plus" label=" Contract"></p-button>
  </div>

  <!--@TODO ===.:Contract table:.=== -->
  <p-table #dt1 [value]="humoContract"
           [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,25,50]" [loading]="loading"
           styleClass="p-datatable-gridlines"
           [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
           [globalFilterFields]="['merchantId','status','numberOfContract','dateOfContract','branchCode']">

    <ng-template pTemplate="caption">
      <div class="p-d-flex">
        <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
        <span class="p-input-icon-left p-ml-auto">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')"
                       placeholder="Search keyword"/>
            </span>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th>
          <div class="p-d-flex p-jc-between p-ai-center">
            Merchant id
            <p-columnFilter type="text" field="merchantId" display="menu"></p-columnFilter>
          </div>
        </th>
        <th>
          <div class="p-d-flex p-jc-between p-ai-center">
            Status
            <p-columnFilter type="text" field="status" display="menu"></p-columnFilter>
          </div>
        </th>
        <th>
          <div class="p-d-flex p-jc-between p-ai-center">
            Contract number
            <p-columnFilter type="text" field="numberOfContract" display="menu"></p-columnFilter>
          </div>
        </th>
        <th>
          <div class="p-d-flex p-jc-between p-ai-center">
            Date of contract
            <p-columnFilter type="text" field="dateOfContract" display="menu"></p-columnFilter>
          </div>
        </th>
        <th>
          <div class="p-d-flex p-jc-between p-ai-center">
            Branch code
            <p-columnFilter type="text" field="branchCode" display="menu"></p-columnFilter>
          </div>
        </th>
        <th>
          <div class="p-d-flex p-jc-between p-ai-center">
            Actions
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-customer>
      <tr>
        <td class="td-width">
          {{customer.merchantId}}
        </td>
        <td class="td-width">
          {{customer.status}}
        </td>
        <td class="td-width">
          {{customer.numberOfContract}}
        </td>
        <td class="td-width">
          {{customer.dateOfContract}}
        </td>
        <td class="td-width">
          {{customer.branchCode}}
        </td>
        <td class="td-width">
          <button type="button" pButton pRipple (click)="onEdited(customer)"
                  class="p-button-rounded  ml-3 p-mr-2 btn-delete" icon="pi pi-pencil">
          </button>
          <button type="button" pButton pRipple (click)="onDeletedContract(customer)" icon="pi pi-times"
                  class="p-button-rounded ml-3  p-mr-2 btn-delete">
          </button>
        </td>

      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="7">No customers found.</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<!--@TODO ===.:Add new contract:.=== -->
<p-dialog header="Registration of a new trade organization" [style]="{width: '70vw'}"
          [(visible)]="displayBasic2"><!--Регистрация новой торговой организации-->
  <h2 class="h1-title" translate="yes">Registration of a new trade organization</h2>
  <form class="p-5" #form="ngForm" ngForm="form" (ngSubmit)="onSubmit(form)">

    <fieldset class="border p-3">
      <div class="row">
        <input type="text" name="status" hidden ngModel="Created">
        <div class="col-md-4 label-block">
          Merchant ID:
        </div>
        <div class="col-md-2">
          <input type="number" name="merchantId" #merchantId="ngModel" class="form-control inputclass"
                 ngModel required>
          <span *ngIf="!merchantId.valid && merchantId.touched" class="help-block text-danger input_span">Please enter a valid merchant Id!</span>
        </div>
        <div class="col-md-4 label-block">
          Number of Contract:
        </div>
        <div class="col-md-2">
          <input type="text" name="numberOfContract" class="form-control inputclass"
                 ngModel required #numberOfContract="ngModel">
          <span *ngIf="!numberOfContract.valid && numberOfContract.touched" class="help-block text-danger input_span">Please enter a valid Client name!</span>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-4 label-block">
          Date of contract:
        </div>
        <div class="col-md-2">
          <input type="number" name="dateOfContract" #dateOfContract="ngModel" class="form-control inputclass"
                 ngModel required>
          <span *ngIf="!dateOfContract.valid && dateOfContract.touched" class="help-block text-danger input_span">Please enter a valid dateOfContract!</span>
        </div>
        <div class="col-md-4 label-block">
          Main account with branch code:
        </div>
        <div class="col-md-2">
          <input type="text" name="branchCode" class="form-control inputclass"
                 ngModel required #branchCode="ngModel">
          <span *ngIf="!branchCode.valid && branchCode.touched" class="help-block text-danger input_span">Please enter a valid branchCode!</span>
        </div>
      </div>
    </fieldset>
    <fieldset class="border p-3 mt-3">
      <legend class="legent"><img src="../assets/img/humo.png" width="45px" alt="humo-card.png"> Domestic | HUMO
      </legend>
      <div class="row">
        <div class="col-md-4 label-block">
          Commission from the companies for transactions made at POS
          terminals (the interest rate):
        </div>
        <div class="col-md-2">
          <input type="text" name="humoCommisson" #humoCommisson="ngModel" class="form-control inputclass"
                 data-date-format="dd.mm.yyyy" id="contract-date"
                 ngModel="{{humoCard?.humoCommisson}}" required>
          <span *ngIf="!humoCommisson.valid && humoCommisson.touched" class="help-block text-danger input_span">Please enter a valid!</span>
        </div>
        <div class="col-md-4  label-block">
          Minimum fee for transactons made from POS Terminals in minimum
          currency units:
        </div>
        <div class="col-md-2">
          <input type="text" name="humoFees" #humoFees="ngModel" class="form-control inputclass"
                 ngModel="{{humoCard?.humoFees}}" required>
          <span *ngIf="!humoFees.valid && humoFees.touched" class="help-block text-danger input_span">Please enter a valid humoFees!</span>
        </div>
      </div>
    </fieldset>
    <fieldset class="border p-3 mt-3">
      <legend class="legent"><img src="../assets/img/visa-card.png" width="45px" alt="visa-card.png">International |
        VISA
      </legend>
      <div class="row">
        <div class="col-md-4 label-block">
          Commission from the companies for transactions
          made at POS terminals (the interest rate):
        </div>
        <div class="col-md-2">
          <input type="text" name="internationalVisaCommission" #internationalVisaCommission="ngModel"
                 class="form-control inputclass"
                 ngModel="{{visa?.internationalVisaCommission}}" required>
          <span *ngIf="!internationalVisaCommission.valid && internationalVisaCommission.touched"
                class="help-block text-danger input_span">Please enter a valid!</span>
        </div>
        <div class="col-md-4 label-block">
          Minimum fee for transactons made from POS Terminals
          in minimum currency units:
        </div>
        <div class="col-md-2">
          <input type="text" name="internationalVisaFees" #internationalVisaFees="ngModel"
                 class="form-control inputclass"
                 ngModel="{{visa?.internationalVisaFees}}" required>
          <span *ngIf="!internationalVisaFees.valid && internationalVisaFees.touched"
                class="help-block text-danger input_span">Please enter a valid internationalVisaFees!</span>
        </div>
      </div>
    </fieldset>
    <fieldset class="border p-3 mt-3">
      <legend class="legent"><img src="../assets/img/master-card.png" width="45px" alt="master-card.png"> International
        | Mastercard
      </legend>
      <div class="row">
        <div class="col-md-4 label-block">
          Commission from the companies for transactions made at POS
          terminals (the interest rate):
        </div>
        <div class="col-md-2">
          <input type="text" name="masterCommission" #masterCommission="ngModel" class="form-control inputclass"
                 ngModel="{{masterCard?.masterCommission}}" required>
          <span *ngIf="!masterCommission.valid && masterCommission.touched"
                class="help-block text-danger input_span">Please enter a valid masterCommission!</span>
        </div>
        <div class="col-md-4 label-block">
          Minimum fee for transactons made from POS Terminals
          in minimum currency units:
        </div>
        <div class="col-md-2">
          <input type="text" name="masterFees" #masterFees="ngModel"
                 class="form-control inputclass"
                 ngModel="{{masterCard?.masterFees}}" required>
          <span *ngIf="!masterFees.valid && masterFees.touched"
                class="help-block text-danger input_span">Please enter a valid masterFees!</span>
        </div>
      </div>
    </fieldset>
    <fieldset class="border p-3 mt-3 ">
      <legend class="legent"><img src="../assets/img/visa-card.png" width="45px" alt="visa-card.png"> Domestic | VISA
      </legend>
      <div class="row">
        <div class="col-md-4 label-block ">
          Commission from the companies for transactions made at
          POS terminals (the interest rate):
        </div>
        <div class="col-md-2">
          <input type="text" name="localVisaCommission" #localVisaCommission="ngModel" class="form-control inputclass"
                 ngModel="{{visa?.localVisaCommission}}" required>
          <span *ngIf="!localVisaCommission.valid && localVisaCommission.touched"
                class="help-block text-danger input_span">Please enter a valid valuta code!</span>
        </div>
        <div class="col-md-4 label-block">
          Minimum fee for transactons made from POS Terminals in minimum
          currency units:
        </div>
        <div class="col-md-2">
          <input type="text" name="masterFees" #localVisaFees="ngModel" class="form-control inputclass"
                 ngModel="{{visa?.localVisaFees}}" required>
          <span *ngIf="!localVisaFees.valid && localVisaFees.touched" class="help-block text-danger input_span">Please enter a valid localVisaFees! </span>
        </div>

      </div>
    </fieldset>
    <fieldset class="border p-3 mt-3">
      <legend class="legent"><img src="../assets/img/master-card.png" width="45px" alt="master-card.png"> Domestic
        | Mastercard
      </legend>
      <div class="row">
        <div class="col-md-4 label-block"><!-- тип адреса-->
          Commission from the companies for transactions made at POS
          terminals (the interest rate):
        </div>
        <div class="col-md-2">
          <input type="text" name="localMasterCommission" #localMasterCommission="ngModel"
                 class="form-control inputclass"
                 ngModel="{{masterCard?.localMasterCommission}}" required>
          <span *ngIf="!localMasterCommission.valid && localMasterCommission.touched"
                class="help-block text-danger input_span">Please enter a valid localMasterCommission!</span>
        </div>
        <div class="col-md-4 label-block">
          Minimum fee for transactons made from POS Terminals in minimum
          currency units:
        </div>
        <div class="col-md-2">
          <input type="text" name="localMasterFees" #localMasterFees="ngModel" class="form-control inputclass"
                 ngModel="{{masterCard?.localMasterFees}}" required>
          <span *ngIf="!localMasterFees.valid && localMasterFees.touched" class="help-block text-danger input_span">Please enter a valid localMasterFees!</span>
        </div>
      </div>
    </fieldset>
    <fieldset class="border p-3 mt-3">
      <legend class="legent"><img src="../assets/img/unionpay.jpg" width="45px" alt="master-card.png"> UnionPay
      </legend>
      <div class="row">
        <div class="col-md-4 label-block">
          Commission from the companies for transactions made at POS
          terminals (the interest rate):
        </div>
        <div class="col-md-2">
          <input type="text" name="masterCommission" #unionPayCommission="ngModel" class="form-control inputclass"
                 ngModel="{{unionPay?.unionPayCommission}}" required>
          <span *ngIf="!unionPayCommission.valid && unionPayCommission.touched"
                class="help-block text-danger input_span">Please enter a valid masterCommission!</span>
        </div>
        <div class="col-md-4 label-block">
          Minimum fee for transactons made from POS Terminals in minimum
          currency units:
        </div>
        <div class="col-md-2">
          <input type="text" name="unionPayFees" #unionPayFees="ngModel" class="form-control inputclass"
                 ngModel="{{unionPay?.unionPayFees}}" required>
          <span *ngIf="!unionPayFees.valid && unionPayFees.touched" class="help-block text-danger input_span">Please enter a valid unionPayFees!</span>
        </div>
      </div>
    </fieldset>
    <button type="submit" class="btn bg-btn mt-3">Create</button>
  </form>
</p-dialog>


<!--@TODO  ===.:Update contract form:.=== -->
<p-dialog header="Update Client Contract" [style]="{width: '70vw'}"
          [(visible)]="displayBasicUpdate">
  <h2 class="h1-title">Update Client Contract</h2>
  <form class="p-5" #updateForm="ngForm" ngForm="updateForm" (ngSubmit)="onSubmitUpdate(updateForm)">

    <fieldset class="border p-3">
      <div class="row">
        <input type="text" name="status" hidden ngModel="Created">
        <div class="col-md-4 label-block">
          Merchant ID:
        </div>
        <div class="col-md-2">
          <input type="number" name="merchantId" #merchantId="ngModel" class="form-control inputclass"
                 ngModel="{{editContract?.merchantId}}" required>
          <span *ngIf="!merchantId.valid && merchantId.touched" class="help-block text-danger input_span">Please enter a valid merchant Id!</span>
        </div>
        <div class="col-md-4 label-block">
          Number of Contract:
        </div>
        <div class="col-md-2">
          <input type="text" name="numberOfContract" class="form-control inputclass"
                 ngModel="{{editContract?.numberOfContract}}" required #numberOfContract="ngModel">
          <span *ngIf="!numberOfContract.valid && numberOfContract.touched" class="help-block text-danger input_span">Please enter a valid Client name!</span>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-4 label-block">
          Date of contract:
        </div>
        <div class="col-md-2">
          <input type="text" name="dateOfContract" #dateOfContract="ngModel" class="form-control inputclass"
                 ngModel="{{editContract?.dateOfContract}}" required>
          <span *ngIf="!dateOfContract.valid && dateOfContract.touched" class="help-block text-danger input_span">Please enter a valid dateOfContract!</span>
        </div>
        <div class="col-md-4 label-block">
          Main account with branch code:
        </div>
        <div class="col-md-2">
          <input type="text" name="branchCode" class="form-control inputclass"
                 ngModel="{{editContract?.branchCode}}" required #branchCode="ngModel">
          <span *ngIf="!branchCode.valid && branchCode.touched" class="help-block text-danger input_span">Please enter a valid branchCode!</span>
        </div>
      </div>
    </fieldset>
    <fieldset class="border p-3 mt-3">
      <legend class="legent"><img src="../assets/img/humo.png" width="45px" alt="humo-card.png"> Domestic | HUMO
      </legend>
      <div class="row">
        <div class="col-md-4 label-block">
          Commission from the companies for transactions made at POS
          terminals (the interest rate):
        </div>
        <div class="col-md-2">
          <input type="text" name="humoCommisson" #humoCommisson="ngModel" class="form-control inputclass"
                 data-date-format="dd.mm.yyyy"
                 ngModel="{{editContract?.humoCommisson}}" required>
          <span *ngIf="!humoCommisson.valid && humoCommisson.touched" class="help-block text-danger input_span">Please enter a valid!</span>
        </div>
        <div class="col-md-4  label-block">
          Minimum fee for transactons made from POS Terminals in minimum
          currency units:
        </div>
        <div class="col-md-2">
          <input type="text" name="humoFees" #humoFees="ngModel" class="form-control inputclass"
                 ngModel="{{editContract?.humoFees}}" required>
          <span *ngIf="!humoFees.valid && humoFees.touched" class="help-block text-danger input_span">Please enter a valid humoFees!</span>
        </div>
      </div>
    </fieldset>
    <fieldset class="border p-3 mt-3">
      <legend class="legent"><img src="../assets/img/visa-card.png" width="45px" alt="visa-card.png">International |
        VISA
      </legend>
      <div class="row">
        <div class="col-md-4 label-block">
          Commission from the companies for transactions

          made at POS terminals (the interest rate):
        </div>
        <div class="col-md-2">
          <input type="text" name="internationalVisaCommission" #internationalVisaCommission="ngModel"
                 class="form-control inputclass"
                 ngModel="{{editContract?.internationalVisaCommission}}" required>
          <span *ngIf="!internationalVisaCommission.valid && internationalVisaCommission.touched"
                class="help-block text-danger input_span">Please enter a valid!</span>
        </div>
        <div class="col-md-4 label-block">
          Minimum fee for transactons made from POS Terminals
          in minimum currency units:
        </div>
        <div class="col-md-2">
          <input type="text" name="internationalVisaFees" #internationalVisaFees="ngModel"
                 class="form-control inputclass"
                 ngModel="{{editContract?.internationalVisaFees}}" required>
          <span *ngIf="!internationalVisaFees.valid && internationalVisaFees.touched"
                class="help-block text-danger input_span">Please enter a valid internationalVisaFees!</span>
        </div>
      </div>
    </fieldset>
    <fieldset class="border p-3 mt-3">
      <legend class="legent"><img src="../assets/img/master-card.png" width="45px" alt="master-card.png"> International
        | Mastercard
      </legend>
      <div class="row">
        <div class="col-md-4 label-block">
          Commission from the companies for transactions made at POS
          terminals (the interest rate):
        </div>
        <div class="col-md-2">
          <input type="text" name="masterCommission" #masterCommission="ngModel" class="form-control inputclass"
                 ngModel="{{editContract?.masterCommission}}" required>
          <span *ngIf="!masterCommission.valid && masterCommission.touched"
                class="help-block text-danger input_span">Please enter a valid masterCommission!</span>
        </div>
        <div class="col-md-4 label-block">
          Minimum fee for transactons made from POS Terminals
          in minimum currency units:
        </div>
        <div class="col-md-2">
          <input type="text" name="masterFees" #masterFees="ngModel"
                 class="form-control inputclass"
                 ngModel="{{editContract?.masterFees}}">
          <span *ngIf="!masterFees.valid && masterFees.touched"
                class="help-block text-danger input_span">Please enter a valid masterFees!</span>
        </div>
      </div>
    </fieldset>
    <fieldset class="border p-3 mt-3 ">
      <legend class="legent"><img src="../assets/img/visa-card.png" width="45px" alt="visa-card.png"> Domestic | VISA
      </legend>
      <div class="row">
        <div class="col-md-4 label-block ">
          Commission from the companies for transactions made at
          POS terminals (the interest rate):
        </div>
        <div class="col-md-2">
          <input type="text" name="localVisaCommission" #localVisaCommission="ngModel" class="form-control inputclass"
                 ngModel="{{editContract?.localVisaCommission}}" required>
          <span *ngIf="!localVisaCommission.valid && localVisaCommission.touched"
                class="help-block text-danger input_span">Please enter a valid valuta code!</span>
        </div>
        <div class="col-md-4 label-block">
          Minimum fee for transactons made from POS Terminals in minimum
          currency units:
        </div>
        <div class="col-md-2">
          <input type="text" name="masterFees" #localVisaFees="ngModel" class="form-control inputclass"
                 ngModel="{{editContract?.localVisaFees}}" required>
          <span *ngIf="!localVisaFees.valid && localVisaFees.touched" class="help-block text-danger input_span">Please enter a valid localVisaFees! </span>
        </div>

      </div>
    </fieldset>
    <fieldset class="border p-3 mt-3">
      <legend class="legent"><img src="../assets/img/master-card.png" width="45px" alt="master-card.png"> Domestic
        | Mastercard
      </legend>
      <div class="row">
        <div class="col-md-4 label-block"><!-- тип адреса-->
          Commission from the companies for transactions made at POS
          terminals (the interest rate):
        </div>
        <div class="col-md-2">
          <input type="text" name="localMasterCommission" #localMasterCommission="ngModel"
                 class="form-control inputclass"
                 ngModel="{{editContract?.localMasterCommission}}" required>
          <span *ngIf="!localMasterCommission.valid && localMasterCommission.touched"
                class="help-block text-danger input_span">Please enter a valid localMasterCommission!</span>
        </div>
        <div class="col-md-4 label-block">
          Minimum fee for transactons made from POS Terminals in minimum
          currency units:
        </div>
        <div class="col-md-2">
          <input type="text" name="localMasterFees" #localMasterFees="ngModel" class="form-control inputclass"
                 ngModel="{{editContract?.localMasterFees}}" required>
          <span *ngIf="!localMasterFees.valid && localMasterFees.touched" class="help-block text-danger input_span">Please enter a valid localMasterFees!</span>
        </div>
      </div>
    </fieldset>
    <fieldset class="border p-3 mt-3">
      <legend class="legent"><img src="../assets/img/unionpay.jpg" width="45px" alt="master-card.png"> UnionPay
      </legend>
      <div class="row">
        <div class="col-md-4 label-block">
          Commission from the companies for transactions made at POS
          terminals (the interest rate):
        </div>
        <div class="col-md-2">
          <input type="text" name="masterCommission" #unionPayCommission="ngModel" class="form-control inputclass"
                 ngModel="{{editContract?.unionPayCommission}}" required>
          <span *ngIf="!unionPayCommission.valid && unionPayCommission.touched"
                class="help-block text-danger input_span">Please enter a valid masterCommission!</span>
        </div>
        <div class="col-md-4 label-block">
          Minimum fee for transactons made from POS Terminals in minimum
          currency units:
        </div>
        <div class="col-md-2">
          <input type="text" name="unionPayFees" #unionPayFees="ngModel" class="form-control inputclass"
                 ngModel="{{editContract?.unionPayFees}}" required>
          <span *ngIf="!unionPayFees.valid && unionPayFees.touched" class="help-block text-danger input_span">Please enter a valid unionPayFees!</span>
        </div>
      </div>
    </fieldset>
    <button type="submit" class="btn bg-btn mt-3">Create</button>
  </form>
</p-dialog>

